body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-caption {
    color: gray !important;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item  {
    width: 100%;
} 

.item img {
    padding-left: 5rem;
}

.carousel-indicators li {
    background-color: lightblue;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#profile-list {
    margin-top: 2rem;
}

#profile {
    margin-top: 2rem;
   
}

#profile h3 {
    color: darkorange;
   
}

#profile li {list-style: none;}

#profile ul {margin-top: 2rem;}
